{% extends "layout.html"%}

{% block body %}

<div class="contain">

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">เพิ่มธุรกรรมทางการเงิน</h2>
            <form action="/addStatement" method="POST">
                <div class="from-group mt-3">
                    <label for="date"> วันที่บันทึกข้อมูล </label>
                    <input type="date" name="date" class="form-control" >
                </div>
                 <div class="from-group mt-3">
                    <label for="name"> ชื่อธุรกรรม </label>
                    <input type="text" name="name" class="form-control">
                </div>
                 <div class="from-group mt-3">
                    <label for="money"> จำนวนเงิน </label>
                    <input type="number" name="number" class="form-control">
                </div>
                 <div class="from-group mt-3">
                    <label for="catagory"> หมวดหมู่ </label>
                    <select name="catagory" class="form-control">
                        <option value="รายรับ">รายรับ</option>
                        <option value="รายจ่าย">รายจ่าย</option>
                    </select>
                   
                </div>
                <input type="submit" value="บันทึกข้อมูล" class="btn btn-primary mt-3">
            </form>
        </div>
    </div>
</div>

{% endblock %}